{% extends 'main/base.html' %}
{% load static %}
{% load filters %}
{% block content %}
{% if recommendations %}
  <section id="aa-product">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="aa-product-area">
              <div class="aa-product-inner">
                <!-- start prduct navigation -->
                 <ul class="nav nav-tabs aa-products-tab">
                   {% for genre in genres %}
                    <li><a href="#{{ genre.genre }}" data-toggle="tab">{{ genre.genre }}</a></li>
                   {% endfor %}
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <!-- Start men product category -->
                    {% for genre in genres %}
                    <div class="tab-pane fade in" id="{{ genre.genre }}">
                      <ul class="aa-product-catg">
                        {% with genre.genre|get_songs as songs %}
                        {% for song in songs %}
                        <li>
                          <figure>
                            <a class="aa-product-img" href="{% url 'main:usersong' song.pk %}">{% if song.image %}<img src="{{ song.image.url }}">{% else %}<img src="{% static 'img/view-slider/medium/polo-shirt-1.png' %}" alt="polo shirt img">{% endif %}</a>
                            <a class="aa-add-card-btn"href="{% url 'main:usersong' song.pk %}"><span class="fa fa-play"></span></a>
                              <figcaption>
                              <h4 class="aa-product-title"><a href="{% url 'main:usersong' song.pk %}">{{ song.title }}</a></h4>
                              <span class="aa-product-price">{{ song.artist }}</span></span>
                            </figcaption>
                          </figure>
                        </li>
                        {% endfor %}
                        {% endwith %}
                      </ul>
                      <a class="aa-browse-btn" href="{% url 'main:genre_list' genre.genre %}">View all Songs <span class="fa fa-long-arrow-right"></span></a>
                    </div>
                    {% endfor %}
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- / Products section -->
  <!-- popular section -->
  <section id="aa-popular-category">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="aa-popular-category-area">
              <!-- start prduct navigation -->
             <ul class="nav nav-tabs aa-products-tab">
                <li class="active"><a href="#popular" data-toggle="tab">Recommendations</a></li>
              </ul>
              <!-- Tab panes -->
              <div class="tab-content">
                <!-- Start men popular category -->
                <div class="tab-pane fade in active" id="popular">
                  <ul class="aa-product-catg aa-popular-slider">
                    <!-- start single product item -->
                    {% for item in recommendations %}
                    <li>
                      <figure>
                        <a class="aa-product-img" href="{% url 'main:usersong' item.pk %}">{% if item.image %}<img src="{{ item.image.url }}">{% else %}<img src="{% static 'img/view-slider/medium/polo-shirt-1.png' %}" alt="polo shirt img">{% endif %}</a>
                        <a class="aa-add-card-btn"href="{% url 'main:usersong' item.pk %}"><span class="fa fa-play"></span></a>
                         <figcaption>
                          <h4 class="aa-product-title"><a href="{% url 'main:usersong' item.pk %}">{{ item.title }}</a></h4>
                          <span class="aa-product-price">{{ item.artist }}</span></span>
                        </figcaption>
                      </figure>
                      <span class="aa-badge aa-sale" href="#">RECOMMENDED!</span>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </section>
  <!-- / popular section -->
{% else %}
 <section id="aa-product-nouser">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="aa-product-area">
              <div class="aa-product-inner">
                <!-- start prduct navigation -->
                 <ul class="nav nav-tabs aa-products-tab">
                   {% for genre in genres %}
                    <li><a href="#{{ genre.genre }}" data-toggle="tab">{{ genre.genre }}</a></li>
                   {% endfor %}
                  </ul>
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <!-- Start men product category -->
                    {% for genre in genres %}
                    <div class="tab-pane fade in" id="{{ genre.genre }}">
                      <ul class="aa-product-catg">
                        {% with genre.genre|get_songs as songs %}
                        {% for song in songs %}
                        <li>
                          <figure>
                            <a class="aa-product-img" href="{% url 'main:usersong' song.pk %}">{% if song.image %}<img src="{{ song.image.url }}">{% else %}<img src="{% static 'img/view-slider/medium/polo-shirt-1.png' %}" alt="polo shirt img">{% endif %}</a>
                            <a class="aa-add-card-btn"href="{% url 'main:usersong' song.pk %}"><span class="fa fa-play"></span></a>
                              <figcaption>
                              <h4 class="aa-product-title"><a href="{% url 'main:usersong' song.pk %}">{{ song.title }}</a></h4>
                              <span class="aa-product-price">{{ song.artist }}</span></span>
                            </figcaption>
                          </figure>
                        </li>
                        {% endfor %}
                        {% endwith %}
                      </ul>
                      <a class="aa-browse-btn" href="{% url 'main:genre_list' genre.genre %}">View all Songs <span class="fa fa-long-arrow-right"></span></a>
                    </div>
                    {% endfor %}
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endif %}

  {% endblock %}

{% block scripts %}
<script>
  $(document).ready(function(){
    $(".nav-tabs li").first().addClass("active");
    $(".tab-pane").first().addClass("active");
  });
</script>
{% endblock %}